iotool:
  batch_size: 64
  shuffle: False
  num_workers: 4
  collate_fn: CollateSparse
  sampler:
    name: RandomSequenceSampler
  dataset:
    name: LArCVDataset
    data_keys:
      #- /gpfs/slac/staas/fs1/g/neutrino/ldomine/icarus_michel3d/mpvmpr_2020_01_v03.5_p00.root
      #- /gpfs/slac/staas/fs1/g/neutrino/ldomine/icarus_michel3d/mpvmpr_2020_01_v03.5_p01.root
      #- /gpfs/slac/staas/fs1/g/neutrino/ldomine/icarus_michel3d/mpvmpr_2020_01_v03.5_p02.root
      #- /gpfs/slac/staas/fs1/g/neutrino/ldomine/icarus_workshop_data/icarus_train*.root
      #- /gpfs/slac/staas/fs1/g/neutrino/kterao/data/mpvmpr_2020_01_v04/train.root
      #- /data/.scn_paper/shower_relabel/train_768px.root
      #- /gpfs/slac/staas/fs1/g/neutrino/kterao/data/mpvmpr_2020_04_v05/test_sample.root
      - /gpfs/slac/staas/fs1/g/neutrino/kterao/data/wire_mpvmpr_2020_04/train_*.root
    limit_num_files: 10
    schema:
      input_data:
        - parse_sparse3d_scn
        - sparse3d_reco
        - sparse3d_reco_chi2
        #- sparse3d_pcluster
        #- sparse3d_data
      segment_label:
        - parse_sparse3d_scn
        - sparse3d_pcluster_semantics_ghost
        #- sparse3d_pcluster_semantics
        #- sparse3d_fivetypes
      particles_label:
        - parse_particle_points
        - sparse3d_pcluster
        - particle_corrected
        #- sparse3d_data
        #- particle_mcst
model:
  name: uresnet_ppn_chain
  modules:
    ppn:
      num_strides: 6
      filters: 16
      num_classes: 5
      data_dim: 3
      downsample_ghost: True
      use_encoding: False
      ppn_num_conv: 1
      #weight_seg: 5.0
      weight_ppn: 0.9
      score_threshold: 0.5
      ppn1_size: 24
      ppn2_size: 96
      spatial_size: 768
      #model_path: '/gpfs/slac/staas/fs1/g/neutrino/ldomine/chain/weights0/snapshot-10499.ckpt'
      model_path: '/gpfs/slac/staas/fs1/g/neutrino/ldomine/chain/weights1/snapshot-18499.ckpt'
    uresnet_lonely:
      freeze: False
      num_strides: 6
      filters: 16
      num_classes: 5
      data_dim: 3
      spatial_size: 768
      ghost: True
      features: 2
      #model_path: '/gpfs/slac/staas/fs1/g/neutrino/ldomine/new_ghost/weights7/snapshot-39999.ckpt'
      model_path: '/gpfs/slac/staas/fs1/g/neutrino/ldomine/chain/weights1/snapshot-18499.ckpt'
  network_input:
    - input_data
    - particles_label
  loss_input:
    - segment_label
    - particles_label
trainval:
  seed: 123
  learning_rate: 0.001
  unwrapper: unwrap_3d_scn
  gpus: '0'
  weight_prefix: /gpfs/slac/staas/fs1/g/neutrino/ldomine/chain/new/weights5/snapshot
  iterations: 50000
  report_step: 1
  checkpoint_step: 500
  log_dir: /gpfs/slac/staas/fs1/g/neutrino/ldomine/chain/new/log5
  #model_path: '/gpfs/slac/staas/fs1/g/neutrino/ldomine/chain/weights1/snapshot-18499.ckpt'
  train: True
  debug: False
